@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

body {
  background: linear-gradient(236.85deg, #041832 27.26%, #035ece 96.03%);   font-family: 'Roboto', sans-serif;
}

.container {
  margin: 64px;
  background: #ECF4FF;
  color: #1C1C1C;
  border-radius: 20px;
  padding: 64px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  margin-top: 8px;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
}

.perfil {
  display: flex;
}

.perfil-foto {
  max-width: 160px;
  border-radius: 460px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.titulo {
  margin-left: 16px;
}

.titulo h1 {
  font-weight: 700;
  font-size: 36px;
}

.titulo h3 {
  font-weight: normal;
  font-size: 24px;
}

.tema button {
  align-self: flex-end;
  font-size: 16px;
  padding: 8px 16px;
  background: #ECF4FF;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #0E1D2F;
}

.portfolio {
  margin-top: 64px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 16px;
}


#escopo {
    margin-top: 16px;
    /*border-collapse: collapse;*/
    width: 100%;
  }
  
  #escopo td, #escopo th {
    /*border: 1px solid #ddd;*/
    padding: 8px;
  }
    
  #escopo tr:hover {background-color: rgba(104, 162, 238, 0.87);}
  
  #escopo th {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    
  }

  tr #header-projeto{

    text-align: center;

  }

  menu{
    margin: auto;
    text-align: center;
    background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    
  }

  menu ul{
    margin-left: 0px;
  }

  menu ul li{
    display: inline-block;
    margin-left: 64px;
    
  }
.projetos, #complemento {
  max-height: 400px;
  margin-left: 200px;
  display: flex;
  flex-direction: column;
  padding: 8px 24px;
  background: linear-gradient(230.65deg, #499CFE 27.49%, #9CC8FC 83.19%);
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

#complemento li{
  list-style: none;
  padding: 12px;
}

a{
  color: white;
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  
}

.dark {
  background: linear-gradient(236.85deg, #061222 27.26%, #6B87A9 96.03%);
}
  
.dark .container {
  background: #333439;
  color: #F6F6F6;
}

.dark .portfolio {
  color: #1C1C1C;
}

.dark .tema button {
  color: #FFFFFF;
  background: #1C1C1C;
  box-sizing: border-box;
  border-radius: 100px;
  border: 2px solid #F7F7F7;
}

::-webkit-scrollbar{
width: 5px;
height: 5px;
}

::-webkit-scrollbar-thumb{
background: #1C1C1C;
border: 1.8px solid #1C1C1C;
border-radius: 100px;
}

::-webkit-scrollbar-thumb:hover{
background: #ECF4FF;
}

::-webkit-scrollbar-track{
background: #ECF4FF;
border-radius: 100px;
box-shadow: inset 0px 0px 0px 0px #F0F0F0;
margin: 15px 0px;
}

footer{
  margin-top: 0px;
  text-align: center;
}

footer p{
  color: white;
  font-weight: bold;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}

.rodape{
   max-height: 45px;
}