body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    background-image: url('https://image.flaticon.com/icons/png/512/201/201635.png');
    background-color: #000000;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
    text-align: center;
    margin: auto;
   }
    
  .container {
    top: 50px;
    text-align: center;
    padding: 20px;
    height: 100vh;
  }

  .container h2#media{
    background-color: white;
    width: 400px;
    margin:  30px auto auto;

  }
  
  .page-title {
    color:#ffffff;
    margin: 0 0 5px;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .entrada {

    top: 190px;
    left: 200px;
  }


  .entrada input{
      width: 40px;
      font-size: 14pt;
      text-align: center;
  }

  #button {
    margin-left: 40px;
    width: 100px;
    height: 40px;
    background-color: #7ada7a;
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    border-radius: 5px;
    font-size: 12pt;
    border: none;
  }



  .entrada label{
      color: #ffffff;
      font-size: 14pt;
  }
